<div class="clr-row">
  <div class="clr-col-12">
    <app-toggle-switches (isOpenSwitch)="switchFormEvent($event)"></app-toggle-switches>

    <table class="table table-compact v-enable">
      <thead>
      <tr>
        <th class="button-cell" rowspan="3">Chọn</th>
        <th [@OpenClose]="switch.constractSw" colspan="4">Thông tin hợp đồng</th>
        <th [@OpenClose]="switch.buildingSw" colspan="2">Thông tin tòa nhà</th>
        <th class="nowrap" [@OpenClose]="switch.managerSw">Thông tin chủ <br/> sở hữu</th>
        <th [@OpenClose]="switch.apartmentSw" colspan="3">Số căn hộ</th>
        <th [@OpenClose]="switch.cycleCheckingSw" colspan="7">Kiểm tra định kì</th>
        <th [@OpenClose]="switch.otherSw" rowspan="3">Thông tin khác</th>
      </tr>
      <tr>
        <th [@OpenClose]="switch.constractSw">No.</th>
        <th class="nowrap" [@OpenClose]="switch.constractSw">Phân loại</th>
        <th class="nowrap" [@OpenClose]="switch.constractSw">Hình thức</th>
        <th class="nowrap" [@OpenClose]="switch.constractSw">Ngoài tiêu chuẩn</th>
        <th [@OpenClose]="switch.buildingSw">No.</th>
        <th [@OpenClose]="switch.buildingSw">Tên</th>
        <th [@OpenClose]="switch.managerSw">Tên</th>
        <th [@OpenClose]="switch.apartmentSw" rowspan="2">Phần cho <br/> thuê</th>
        <th class="nowrap" [@OpenClose]="switch.apartmentSw" rowspan="2">Phần chủ <br/> nhà sử dụng</th>
        <th [@OpenClose]="switch.apartmentSw" rowspan="2">Tổng số</th>
        <th [@OpenClose]="switch.cycleCheckingSw" rowspan="2">Tên hạng mục</th>
        <th [@OpenClose]="switch.cycleCheckingSw" rowspan="2">Chu kỳ</th>
        <th [@OpenClose]="switch.cycleCheckingSw" rowspan="2">Đơn vị</th>
        <th [@OpenClose]="switch.cycleCheckingSw" rowspan="2">Số lần</th>
        <th [@OpenClose]="switch.cycleCheckingSw" rowspan="2">Công ty thực hiện</th>
        <th [@OpenClose]="switch.cycleCheckingSw" rowspan="2">Số tiền phát sinh</th>
        <th [@OpenClose]="switch.cycleCheckingSw" rowspan="2">Tổng số tiền</th>
      </tr>
      <tr>
        <th [@OpenClose]="switch.constractSw">Ngày hợp đồng</th>
        <th [@OpenClose]="switch.constractSw" colspan="3">Phụ trách</th>
        <th [@OpenClose]="switch.buildingSw">Ngày chuyển giao</th>
        <th [@OpenClose]="switch.buildingSw">Địa chỉ</th>
        <th [@OpenClose]="switch.managerSw">Chào hỏi</th>
      </tr>
      </thead>
      <tbody *ngIf="loading">
      <tr class="text-center">
        <td colspan="18">
          <span class="spinner spinner-md">
              Loading...
          </span>
        </td>
      </tr>
      </tbody>

      <ng-container *ngFor="let contract of contracts">
        <tbody>
        <tr *ngIf="contract.countCycle != null">
          <td rowspan="2" class="button-cell">
            <a class="btn btn-primary" href="/building/building-detail/{{contract.no}}">Chọn <span *ngIf="!contract.dateTo.length > 0" class="notyet">未</span></a>
          </td>
          <td [@OpenClose]="switch.constractSw">{{ contract.no }}</td>
          <td [@OpenClose]="switch.constractSw" class="nowrap">{{ contract.type }}</td>
          <td [@OpenClose]="switch.constractSw" class="">{{ contract.pattern }}</td>
          <td [@OpenClose]="switch.constractSw" class="">{{ contract.except }}</td>
          <ng-container *ngFor="let item of contract.building">
            <td [@OpenClose]="switch.buildingSw" class="">{{ item.no }}</td>
            <td [@OpenClose]="switch.buildingSw" class="left">{{ item.name }}</td>
          </ng-container>
          <ng-container *ngFor="let item of contract.managerInfo">
            <td [@OpenClose]="switch.managerSw" class="left">{{ item.name }}</td>
          </ng-container>
          <ng-container *ngFor="let item of contract.apartment">
            <td [@OpenClose]="switch.apartmentSw" class="num" [attr.rowspan]="contract.countCycle">{{ item.lease }}</td>
            <td [@OpenClose]="switch.apartmentSw" class="num" [attr.rowspan]="contract.countCycle">{{ item.using }}</td>
            <td [@OpenClose]="switch.apartmentSw" class="num" [attr.rowspan]="contract.countCycle">{{ item.total }}</td>
          </ng-container>

          <td [@OpenClose]="switch.cycleCheckingSw" class="inner-table" rowspan="2">
            <table class="table table-compact inner-table">
              <tr>
                <td class="inner-table-top">標準清掃</td>
              </tr>
              <tr>
                <td>点検のみ</td>
              </tr>
              <tr>
                <td>簡易清掃</td>
              </tr>
              <ng-container *ngFor="let item of contract.cycleChecking">
                <tr>
                  <td>{{item.name}}</td>
                </tr>
              </ng-container>
            </table>
          </td>
          <td [@OpenClose]="switch.cycleCheckingSw" class="inner-table" rowspan="2">
            <table class="table table-compact inner-table">
              <tr>
                <td class="inner-table-top patrol-common">1</td>
              </tr>
              <ng-container *ngFor="let item of contract.cycleChecking">
                <tr>
                  <td>{{item.cycle}}</td>
                </tr>
              </ng-container>
            </table>
          </td>
          <td [@OpenClose]="switch.cycleCheckingSw" class="inner-table" rowspan="2">
            <table class="table table-compact inner-table">
              <tr>
                <td class="inner-table-top patrol-common">tháng</td>
              </tr>
              <ng-container *ngFor="let item of contract.cycleChecking">
                <tr>
                  <td>{{item.unit}}</td>
                </tr>
              </ng-container>
            </table>
          </td>
          <td [@OpenClose]="switch.cycleCheckingSw" class="inner-table" rowspan="2">
            <table class="table table-compact inner-table">
              <tr>
                <td class="inner-table-top patrol-common">1</td>
              </tr>
              <ng-container *ngFor="let item of contract.cycleChecking">
                <tr>
                  <td>{{item.times}}</td>
                </tr>
              </ng-container>
            </table>
          </td>
          <td [@OpenClose]="switch.cycleCheckingSw" class="inner-table" rowspan="2">
            <table class="table table-compact inner-table">
              <tr>
                <td class="inner-table-top patrol-common">ヶ月 00</td>
              </tr>
              <ng-container *ngFor="let item of contract.cycleChecking">
                <tr>
                  <td>{{item.companyExe}}</td>
                </tr>
              </ng-container>
            </table>
          </td>
          <td [@OpenClose]="switch.cycleCheckingSw" class="inner-table" rowspan="2">
            <table class="table table-compact inner-table">
              <tr>
                <td class="inner-table-top patrol-common">1,000</td>
              </tr>
              <ng-container *ngFor="let item of contract.cycleChecking">
                <tr>
                  <td>{{item.money | currency:'JPY':''}}</td>
                </tr>
              </ng-container>
            </table>
          </td>
          <td [@OpenClose]="switch.cycleCheckingSw" class="inner-table" rowspan="2">
            {{ contract.cycleChecking[0].total | currency:'JPY':''}}
          </td>
          <td [@OpenClose]="switch.otherSw" class="clr-align-text-top clr-text-align-center" rowspan="2">Đây là <br/> thông tin khác</td>
        </tr>
        <tr>
          <td [@OpenClose]="switch.constractSw">{{ contract.dateTo | date: 'yyyy/M/d'}}</td>
          <td class="left" [@OpenClose]="switch.constractSw" colspan="3">{{ contract.manager }}</td>
          <ng-container *ngFor="let item of contract.building">
            <td [@OpenClose]="switch.buildingSw">{{ item.dateFrom }}</td>
            <td class="left" [@OpenClose]="switch.buildingSw">{{ item.address }}</td>
          </ng-container>
          <ng-container *ngFor="let item of contract.managerInfo">
            <td [@OpenClose]="switch.managerSw">{{ item.call }}</td>
          </ng-container>
        </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>
