.max-w {
  width: 100%;
  margin-top: 10px;
}

.max-w tr th {
  background-color: #4c4c4c;
  color: black;
}

.max-w tr td {
  padding: 5px;
}

.notyet {
  background-color: red;
  border-radius: 50%;
  padding: 3px 3px;
  font-weight: 600;
}
