/* You can add global styles to this file, and also import other style files */

.clr-text-align-center {
  text-align: center;
}

.clr-text-align-right {
  text-align: right;
}

.clr-text-align-left {
  text-align: left;
}
