<clr-accordion class="p2">
  <clr-accordion-panel>
    <clr-accordion-title>Searching</clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <button class="btn btn-info-outline"><clr-icon shape="refresh"></clr-icon> Refresh</button>
      <form class="clr-form">
        <div class="clr-row">
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic1" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic2" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic3" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
              <clr-date-container>
                <label>To</label>
                <input type="date" clrDate name="demo" placeholder="YYYY/MM/DD"/>
              </clr-date-container>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <clr-date-container>
              <label>From</label>
              <input type="date" clrDate name="demo" placeholder="YYYY/MM/DD"/>
            </clr-date-container>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic6" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic7" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic8" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic9" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic10" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic11" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic12" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-row">
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic13" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic14" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-col-xl-2 clr-col-lg-3">
            <div class="clr-form-control">
              <label for="basic" class="clr-control-label">Input 1</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input type="text" id="basic15" class="clr-input">
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>

<button class="btn btn-info-outline" (click)="onSubmit()"><clr-icon shape="download"></clr-icon> Searching with Condition</button>
